.banner__imagen {
    width: 100vw;
}

.banner__titulo{
    position: absolute;
    left: 5%;
    top: 40%;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3em;
}

.banner__descripcion {
    position: absolute;
    left: 5%;
    top: 55%;
    color: #ffffff;
    font-size: 1em;
    margin-right: 20px;
}

.banner__boton {
    position: absolute;
    padding: 7px;
    left: 5%;
    top: 75%;
    color: #ffffff;
    background-color: #2E6FF2;
    font-size: 1em;
}

.banner {
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}
