.productos {
    margin: 15px;
}

.productos__informacion {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.productos__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    grid-template-rows: minmax(20px, auto);
}

.productos__descripcion, .productos__precio, .productos__detalle{
    padding: 2.5px;
}

.productos__tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.productos__tarjeta a{
    width: 140px;
    display: flex;
    justify-content: center;
}

.productos__imagen {
    width: 120px;
}

.productos__detalle,
.productos__vertodo {
    color: #4174d9;
}

.productos__detalle{
    margin-top: 10px;
    border: 1px solid;
    border-radius: 3px;
    width: 140px;
    height: 15px;
    padding: 8px;
}

.productos__titulo {
    font-size: 1.4em;
    font-weight: bold;
}

.productos__precio {
    font-weight: bold;
}

.productos__vertodo {
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 678px) {
    .productos{
        margin: 15px 5%;
    }

    .productos__contenido{
        display: flex;
        flex-wrap: wrap;
    }

    .productos__imagen{
        width: 200px;
    }

    .productos__titulo{
        font-size: 1.8em;
    }

    .productos__informacion{
        margin-top: 30px;
    }

    .productos__tarjeta{
        margin-bottom: 20px;
    }

    .productos__descripcion{
        margin-top: 10px;
    }

    .productos__detalle:hover{
        font-size: 1.1em;
        background-color: #4174D9;
        color: #FFFFFF;
    }

    .productos__tarjeta:hover{
        transform: scale(1.1);
    }
}
