.agregarproducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #f5f4f4;
}

.agregarproducto__formulario{
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 600px;
}

.agregarproducto__categoria,
.agregarproducto__nombre,
.agregarproducto__url,
.agregarproducto__precio,
.agregarproducto__descripcion,
.agregarproducto__submit{
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
}

.agregarproducto__categoria{
    width: 12.5em;
}

.agregarproducto__descripcion{
    resize: none;
    overflow: auto;
}

.agregarproducto__submit{
    padding: 20px;
    border-radius: 3px;
    background-color: #4174D9;
    color: #FFFFFF;
    cursor: pointer;
}

.agregarproducto__titulo{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 20px;
}