.login{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f4f4;
}

.login__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__titulo{
    font-size: 1.5em;
}

.login__email, .login__password{
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    width: 70vw;
}

.login__submit{
    width: 70px;
    color: #FFFFFF;
    background-color: #4174D9;
    padding: 8px;
    border-radius: 3px;
    font-size: 1.1em;
}

.cabecera__boton{
    display: none;
}

@media screen and (min-width:767px){
    .login__email, .login__password{
        width: 350px;
    }

    .login{
        height: 70vh;
    }
}